body{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

.head-headding {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.head-headding2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.heading-texthighlight {
  color: red;
  
}




.box{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.box img{
    width: 100%;
}
.bg-banner{
    
    background-image: url("../image/top-banner.png");
    height: 100vh;
    background-repeat: no-repeat;
}
.hireme{
    padding: 10px 35px;
    border: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato );
   margin-top: 10px;
   
   
}
.hireme > a{
    text-decoration: none;
    color: white;
}

/* end first section  */